
<div class="content">
  <div class="index">
    <h1>
      Iniciativas
      <% if logged_in? %>
        <%= link_to new_initiative_path do %>
          <button type="button" class="btn btn-outline-warning btn-lrg", style="float: right">Crear Iniciativa</button>
        <% end %>
      <% end %>
    </h1>
  </div>
  <div class="container" style="width: 95%">
    <div class="row">
      <% @initiatives.each do |initiative| %>
        <%= render "initiative_card", initiative: initiative %>
      <% end %>
    </div>
  </div>
</div>
