<div class="row hero_container">
  <div class="col-sm-6 join_initiative container d-flex justify-content-center">
    <div class="row align-items-center">
      <%= link_to initiatives_path do %>
        <h2>ÚNETE A UNA INICIATIVA</h2>

      <% end %>
    </div>
  </div>
  <div class="col-sm-6 create_initiative container d-flex justify-content-center">
    <div class="row align-items-center">
      <%= link_to new_initiative_path do %>
        <h2>CREA UNA INICIATIVA</h2>
      <% end %>
    </div>
  </div>
</div>
<br>

<style type="text/css">

h2:hover {
  cursor: pointer;
}

</style>
