<div class="row hero_container">
  <div class="col-sm-12 join_page container d-flex justify-content-center hvr-grow">
    <div class="row align-items-center">
      <%= link_to new_user_path do %>
        <h2>CREA UNA CUENTA</h2>

      <% end %>
    </div>
  </div>
</div>
