<h1>Index</h1>
<%=link_to "Usuarios",  users_path%>
<br>
<%=link_to "Iniciativas", initiatives_path%>
<div class="container">
  <div class="row">
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      One of three columns
    </div>
  </div>
</div>
