<div class="row hero_container">
  <div class="col-sm join_initiative container d-flex justify-content-center">
    <h2 class="row align-items-center">ÚNETE A UNA INICIATIVA</h2>
  </div>
  <div class="col-sm create_initiative container d-flex justify-content-center">
    <h2 class="row align-items-center">CREA UNA INICIATIVA</h2>
  </div>
</div>
